<a href="https://colab.research.google.com/github/linda-akwagha/Quiz-A/blob/master/Quiz_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
fuel = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')
fuel

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [3]:
fuel.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [13]:
# 1


A =[1,2,3,4,5,6]
B = [13, 21, 34]

# A_B =  [1,2,3,4,5,6,13, 21, 34]
 


A.extend(B)
A_B = A
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [14]:
# 2
# How do you create an identity matrix in python?

np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [17]:
# 3
# Which of the following fuel type code has the lowest average fuel cost per unit burned?

cost = fuel.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
cost.nsmallest(n=1)

fuel_type_code_pudl
gas    13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

In [19]:
# 4
# What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?
fuel['fuel_mmbtu_per_unit'].describe().round(2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

In [21]:
# 5
# What is the skewness and kurtosis for the fuel quantity burned in two decimal places?


fuel['fuel_qty_burned'].agg(['skew','kurt']).round(2)

skew     15.85
kurt    651.37
Name: fuel_qty_burned, dtype: float64

In [24]:
# 6
# Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a 
# factor of the total number of rows in three decimal places? 
#(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

ms = fuel.columns[fuel.isnull().any()]
vl = str(ms.values)

#total
total = fuel.isnull().values.sum()

#Percent
percent = ((total/29523)*100).round(3)
print('Feature: ',vl)
print('Total: ',total)
print('Percent: ',percent,'%')

Feature:  ['fuel_unit']
Total:  180
Percent:  0.61 %

In [28]:
# 7
# The feature with missing values falls under what category? What missing value imputation technique would you use?

fuel.dtypes

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

In [29]:
# 8
# Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

fuel[fuel.columns[1:]].corr()['fuel_cost_per_unit_burned'][:-1].nsmallest(3)

utility_id_ferc1      -0.037863
fuel_qty_burned       -0.018535
fuel_mmbtu_per_unit   -0.010034
Name: fuel_cost_per_unit_burned, dtype: float64

In [30]:
# 9
# For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?
data = fuel[(fuel['report_year']==1998) & (fuel['fuel_type_code_pudl']=='coal')]
data_98 = data['fuel_cost_per_unit_burned'].sum()
 

data2 = fuel[(fuel['report_year']==1994) & (fuel['fuel_type_code_pudl']=='coal')]
data_94 = data2['fuel_cost_per_unit_burned'].sum()
 

diff = ((data_98 - data_94)/data_98)*100
print(int(diff),'%')

-25 %

In [31]:
# 10
# Which year has the highest average fuel cost per unit delivered?

highest_avg = fuel.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

highest_avg.nlargest(n=1)

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64